@layer base {
  :host, :host *, *, ::before, ::after {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-ring-offset-shadow: 0 0 #0000;
  }
}

@import "tailwindcss";

.test-shadow {
  box-shadow: 0 2px 10px #0000004d;
}

.border-t.pt-4 {
  border-top: 1px solid gainsboro;
}