@layer base {
  :host, :host *, *, ::before, ::after {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-ring-offset-shadow: 0 0 #0000;
  }
}

@import "tailwindcss";

.test-shadow {
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}